html {
    font-family: 'Open Sans',sans-serif;
    background: whitesmoke;
    color: #303030;
}

header {
    text-align: center;
}

#content {
    position: relative;
    display: flex;
}

#side {
    flex: 20%;
    display: block;
    position: relative;
    margin-top: 2%;
    margin-right: 10%;
    width: 100%;
    height: 100%;
}

#main {
    flex: 50%;
    display: block;
    margin: 2% 2% 0 10%;
    width: 100%;
    height: 100%;
}

h2 {
    color: #801010;
    border-bottom: 2px solid black;
}

h3 {
    font-weight: normal;
    font-size: 1.5em;
    margin-bottom: 0;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
}

em {
    font-weight: bold;
    font-style: normal;
}

a {
    text-decoration: none;
}

#name {
    font-size: 1.5em;
    margin-bottom: 15px;
}

section>ul {
    padding: 0;
}

address {
    padding: 10px;
    background-color: #F5DD9D;
}

table {
    border-collapse: collapse;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

.vsep {
    border-right: 2px solid;
}

#side h3 {
    font-weight: bold;
    font-size: 1.2em;
}

#main section {    
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
    overflow-x: hidden;
    margin-bottom: 30px;
    padding: 15px 30px 30px 30px;
    background-color: #fff;
}

#work {
    text-align: justify;
}

.highlights {
    padding-left: 20px;
}

.highlights li {
    list-style-type: square;
}

@media screen and (max-width:1090px) {
    #side {
        margin-right: 5%;
    }

    #main {
        margin-left: 5%;
    }
}

@media screen and (max-width:850px) {
    #content {
        display: block;
    }

    #main,
    #side,
    address {
        margin: 0 0;
        margin-bottom: 30px;
    }

    #side section {    
        box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
        overflow-x: hidden;
        margin-bottom: 30px;
        padding: 15px 30px 30px 30px;
        background-color: #fff;
    }
}

@media print{
    html {
        font-size: 10pt;
        background: #fff !important;
    }

    #main,
    #side {
        flex: 50%;
    }

    #main {
        margin-left: 0;
    }

    #side {
        margin-right: 0;
    }

    #main section {    
        box-shadow: 0 0 0 0;
        padding: 0px 0px 0px 0px;
        margin-bottom: 0px;
    }

    address {
        border: 1px solid;
    }

    a {
        color: black;
    }

    #pdflink {
        display: none;
    }
}